$form-background: #000000;
$form-accent: #ff88e4;
$form-accent-dark: #ff00c1;
$form-accent-darker: #ff3ad2;

$form-border-radius: 8px;
$form-border-width: 2px;
$form-border-color: $form-accent;
$form-border-color-dark: $form-accent-dark;


.project-details {
  height: 100vh;
  margin-bottom: -15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $form-accent-dark;
  background-image: linear-gradient(to right, #ff77c2 0%, #ff69b4 0%, #ff3ad2 21%, #ff88e4 52%, #ff00c1 78%, #b12a84 100%);
  border-bottom: $form-border-width solid $form-border-color;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 75%;
    margin-top: 10vh;
    background: #fcdcf9;
    border-radius: 20px;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.9);

    &__image {
      width: 30%;
      height: auto;
      object-fit: cover;
      border-radius: 20px 0 0 20px;
      animation: imageFade 1s ease-in-out;
      animation-delay: 0.5s;
      animation-fill-mode: backwards;

      @keyframes imageFade {
        from {
          opacity: 0;
          transform: scale(1.2);
        }

        to {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    &__info {
      width: 70%;
      height: 100%;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      animation: infoFade 1s ease-in-out;
      animation-delay: 0.8s;
      animation-fill-mode: backwards;

      @keyframes infoFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }

        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

      &__title {
        font-size: 48px;
        margin-bottom: 20px;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      &__stacks {
        font-size: 18px;
        margin-bottom: 20px;
        color: #777;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
      }

      &__description {
        font-size: 16px;
        margin-bottom: 40px;
        line-height: 1.5;
        color: #333;
      }

      &__subtitle {
        font-size: 18px;
        margin-bottom: 10px;
        color: #666;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
      }

      &__link {
        font-size: 18px;
        margin-bottom: 10px;
        color: #000;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        display: inline-block;
        text-align: center;
        background-color: #ff00c1;
        padding: 10px 20px;
        border-radius: 20px;
        letter-spacing: 2px;
        font-weight: bold;
        cursor: pointer;
        border: 2px solid transparent;

        &:hover {
          color: #fff;
          background-color: transparent;
          border: 2px solid #ff00c1;
        }
      }
    }
  }
}

.project-details__image {
  width: 60%;
  height: 100%;
}

.project-details__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.project-details__title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2vh;
}

.project-details__stacks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  padding: 6px;
  background-color: #ff3ad2;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.project-details__description {
  padding: 2vw;
  text-align: justify;
}

.project-details__subtitle {
  color: #ff00c1;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}

.project-details__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-details__info {
  width: 100%;
  height: 100%;
  padding: 20px;
}

@keyframes pulseProject {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

.logo-project-vercel {
  width: 25%;

  &:hover {
    animation: pulseProject 0.5s infinite alternate;
  }
}

.logo-project-github {
  width: 13%;
  
  &:hover {
    animation: pulseProject 0.5s infinite alternate;
  }
}

.go-back-button {
  background-color: #ff00c1;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  padding: 8px 15px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  text-align: center;
}

.go-back-button::before {
  content: '';
  display: block;
  position: absolute;
  top: -10%;
  left: -10%;
  right: -10%;
  bottom: -10%;
  background: linear-gradient(to bottom, #ff3ad2, #ff88e4, #ff00c1);
  transform: rotateX(60deg) rotateY(60deg) scale(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: -1;
  opacity: 0.5;
}

.go-back-button:hover::before {
  transform: rotateX(0deg) rotateY(0deg) scale(1);
  opacity: 1;
}

.go-back-button:hover {
  text-decoration: none;
  transform: translateY(-1px) rotateX(2deg) rotateY(2deg);
}

@media screen and (min-width: 576px) and (max-width: 850px) {
  .project-details__title {
    font-size: 34px;
  }

  .project-details__stacks {
    width: 90%;
    margin: 10px 15px;
    font-size: 1.2em;
  }

  .project-details__description {
    font-size: 1.4em;
  }

  .logo-project-vercel {
    width: 80%;
    gap: 3vw;
  }

  .logo-project-github {
    width: 50%;
  }

}

@media screen and (max-width: 768px) {
  .project-details {
    margin-top: 20vh;
    padding-bottom: 20vh;
    padding-top: 24vh;
  }

  .project-details__content {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .project-details__image {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
  }

  .project-details__info {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .project-details__stacks {
    width: auto;
    margin: 10px 0;
  }

  .project-details__description {
    padding: 10px 0;
  }

  .project-details__link {
    margin: 10px;
  }

  .logo-project-vercel {
    width: 50%;
  }

  .logo-project-github {
    width: 40%;
  }

  .go-back-button {
    margin: 0px 0 0 -12vw;
    font-size: 10px;
  }

}