.footer {
    color: #fff;
    padding: 12vh 0;
    border-top: 1px solid #ff88e4;
    border-top-width: 0.5px;
    margin-top: 15vh;
    padding-left: 17vh;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column-contact {
    width: calc(33.33% - 20px);
}

.footer__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__item {
    color: var(--color-primary);
    opacity: 0.8;
    font-size: 18px;
    font-weight: 100;
}

.footer__item:hover {
    color: #ff00c1;
    opacity: 1;
}

.link {
    transition: color 0.5s ease-in-out;
}

.link:hover {
    color: #ff00c1;
}

.footer__bottom {
    margin-top: 10vh;
    margin-bottom: -7vh;
    padding-right: 17vh;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #ff88e4;
    animation: footerFade 2s ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;

    @keyframes footerFade {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 0.8;
            transform: translateY(0);
        }
    }
}

.row {
    display: flex;
    justify-content: space-between;
}


@media screen and (min-width: 576px) and (max-width: 850px) {
    .row {
        display: flex;
        gap: 4rem;
    }

    .footer {
        padding: 1vh 0;
    }

    .footer__item {
        font-size: 24px;
    }

    .footer__title {
        font-size: 34px;
        margin-top: 5vh;
    }

    .column-contact {
        width: 100%;
    }

    .footer__bottom {
        margin-top: 10vh;
        margin-bottom: 1vh;
        padding-left: 15vh;
        text-align: center;
        width: 100%;
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .footer {
        align-items: center;
        text-align: center;
    }

    .footer__item {
        font-size: 20px;
    }

    .footer__title {
        font-size: 28px;
        margin-top: 5vh;
    }

    .column-contact {
        width: 100%;
    }

    .footer__bottom {
        margin-top: 10vh;
        margin-bottom: 1vh;
        padding-left: 15vh;
        text-align: center;
        width: 100%;
        font-size: 16px;
    }
}